@model IEnumerable<Marriage.Models.members> 


<table>
    <tr>
        
        <th>
            firstname
        </th>
        <th>
            middlename
        </th>
        <th>
            lastname
        </th>
        <th>
            displayname
        </th>
       
        <th>
            email
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.middlename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
     
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>
