@model Marriage.Models.members

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Home/UserMaster.cshtml";
}

<h2>Profile</h2>

<fieldset>
    <legend>members</legend>

    <div class="display-label">writtenby</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.writtenby)
    </div>

    <div class="display-label">firstname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstname)
    </div>

    <div class="display-label">middlename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.middlename)
    </div>

    <div class="display-label">lastname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">displayname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.displayname)
    </div>

    <div class="display-label">forwaht</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.forwaht)
    </div>

    <div class="display-label">timeformarriage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeformarriage)
    </div>

    <div class="display-label">gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender)
    </div>

    <div class="display-label">maritalstatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maritalstatus)
    </div>

    <div class="display-label">dob</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dob)
    </div>

    <div class="display-label">tob</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tob)
    </div>

    <div class="display-label">contactno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactno)
    </div>

    <div class="display-label">issecured</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issecured)
    </div>

    <div class="display-label">timeforcall</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeforcall)
    </div>

    <div class="display-label">persontocontact</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.persontocontact)
    </div>

    <div class="display-label">lastdegree</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastdegree)
    </div>

    <div class="display-label">profession</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.profession)
    </div>

    <div class="display-label">familystatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.familystatus)
    </div>

    <div class="display-label">annualincome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.annualincome)
    </div>

    <div class="display-label">livingwith</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.livingwith)
    </div>

    <div class="display-label">fatheralive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fatheralive)
    </div>

    <div class="display-label">motheralive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.motheralive)
    </div>

    <div class="display-label">marriedbrother</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.marriedbrother)
    </div>

    <div class="display-label">unmarriedbrother</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unmarriedbrother)
    </div>

    <div class="display-label">marriedsister</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.marriedsister)
    </div>

    <div class="display-label">unmarredsister</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unmarredsister)
    </div>

    <div class="display-label">countrycode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.countrycode)
    </div>

    <div class="display-label">state</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">city</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">address1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address1)
    </div>

    <div class="display-label">bornin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bornin)
    </div>

    <div class="display-label">growupin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.growupin)
    </div>

    <div class="display-label">ihave</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ihave)
    </div>

    <div class="display-label">relocatable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.relocatable)
    </div>

    <div class="display-label">nationality</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nationality)
    </div>

    <div class="display-label">passport</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.passport)
    </div>

    <div class="display-label">height</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.height)
    </div>

    <div class="display-label">weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weight)
    </div>

    <div class="display-label">built</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.built)
    </div>

    <div class="display-label">complexion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.complexion)
    </div>

    <div class="display-label">eyecolor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eyecolor)
    </div>

    <div class="display-label">haircolor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.haircolor)
    </div>

    <div class="display-label">food</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.food)
    </div>

    <div class="display-label">candrink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.candrink)
    </div>

    <div class="display-label">cansmoke</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cansmoke)
    </div>

    <div class="display-label">religion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.religion)
    </div>

    <div class="display-label">manglik</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.manglik)
    </div>

    <div class="display-label">culture</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.culture)
    </div>

    <div class="display-label">language</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.language)
    </div>

    <div class="display-label">lifestyle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lifestyle)
    </div>

    <div class="display-label">randomno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.randomno)
    </div>

    <div class="display-label">verificatoncode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.verificatoncode)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">isactive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isactive)
    </div>

    <div class="display-label">isdeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isdeleted)
    </div>

    <div class="display-label">password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">ismobileverified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ismobileverified)
    </div>

    <div class="display-label"></div>
    <div class="display-field">
        @Html.HiddenFor(model => model.agentid)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
