@model Marriage.Models.Members

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Home/UserMaster.cshtml";
}

<h2>Profile</h2>

<fieldset>
    <legend>Members</legend>

    <div class="display-label">WrittenBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WrittenBy)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">MiddleName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">DisplayName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>

    <div class="display-label">forwaht</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.forwaht)
    </div>

    <div class="display-label">TimeforMarriage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeforMarriage)
    </div>

    <div class="display-label">Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">MaritalStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaritalStatus)
    </div>

    <div class="display-label">DOB</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>

    <div class="display-label">TOB</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TOB)
    </div>

    <div class="display-label">ContactNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">Issecured</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Issecured)
    </div>

    <div class="display-label">TimeForCall</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeForCall)
    </div>

    <div class="display-label">PersonToContact</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonToContact)
    </div>

    <div class="display-label">LastDegree</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastDegree)
    </div>

    <div class="display-label">Profession</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profession)
    </div>

    <div class="display-label">FamilyStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FamilyStatus)
    </div>

    <div class="display-label">AnnualIncome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnnualIncome)
    </div>

    <div class="display-label">LivingWith</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LivingWith)
    </div>

    <div class="display-label">FatherAlive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FatherAlive)
    </div>

    <div class="display-label">MotherAlive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MotherAlive)
    </div>

    <div class="display-label">MarriedBrother</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarriedBrother)
    </div>

    <div class="display-label">UnmarriedBrother</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnmarriedBrother)
    </div>

    <div class="display-label">MarriedSister</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MarriedSister)
    </div>

    <div class="display-label">UnmarredSister</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnmarredSister)
    </div>

    <div class="display-label">CountryCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryCode)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Address1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">BornIn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BornIn)
    </div>

    <div class="display-label">GrowupIn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrowupIn)
    </div>

    <div class="display-label">Ihave</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ihave)
    </div>

    <div class="display-label">ReLocatable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReLocatable)
    </div>

    <div class="display-label">Nationality</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nationality)
    </div>

    <div class="display-label">Passport</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Passport)
    </div>

    <div class="display-label">Height</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">Weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">Built</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Built)
    </div>

    <div class="display-label">Complexion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Complexion)
    </div>

    <div class="display-label">Eyecolor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Eyecolor)
    </div>

    <div class="display-label">Haircolor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Haircolor)
    </div>

    <div class="display-label">Food</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Food)
    </div>

    <div class="display-label">CanDrink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CanDrink)
    </div>

    <div class="display-label">CanSmoke</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CanSmoke)
    </div>

    <div class="display-label">Religion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Religion)
    </div>

    <div class="display-label">Manglik</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manglik)
    </div>

    <div class="display-label">Culture</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Culture)
    </div>

    <div class="display-label">Language</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language)
    </div>

    <div class="display-label">Lifestyle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lifestyle)
    </div>

    <div class="display-label">Randomno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Randomno)
    </div>

    <div class="display-label">VerifiCationCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VerifiCationCode)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Isactive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isactive)
    </div>

    <div class="display-label">Isdeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isdeleted)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">IsMobileVerified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMobileVerified)
    </div>

    <div class="display-label">AgentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
